# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/Module_00_Henry_Bootcamp/01_Git/package-lock.json/
/Module_01_Henry_Bootcamp/00-IntroToCS/homework/package-lock.json/
/package-lock.json/
